<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cadastro - Stok</title>
    <link rel="stylesheet" href="../assets/css/principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="../assets/css/principal.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <header>
        <img src="../assets/img/stok azul e laranja.png" class="stok-logo" alt="">
    </header>

    <div class="ms-3">
        <h1 class="mt-5">Produtos</h1>
        <input class="form-control nome-produto w-50 ms-3 border-black rounded-3" placeholder="Nome do produto" type="text">
        <div class="ms-3 mt-2">
            <input type="text" class="form-control preco border-black rounded-3" placeholder="Min."> -
            <input type="text" class="form-control preco border-black rounded-3" placeholder="Max.">
        </div>
    </div>

    <hr>

    <div class="card ms-4 rounded-4 border-black">
        <div class="placeholder rounded-top-4"></div>
        <p class="nome-produto ms-1">Nome do produto</p>
        <br>
        <p class="text-end text-success me-1">$0,00</p>
    </div>
</body>
</html>